/* Override Bootstrap's default modal width */
.custom-width-modal.modal.show .modal-dialog {
    min-width: 95% !important; /* Set a minimum width when the modal is shown */
    max-width: 95% !important; /* Ensure it doesn't exceed the 95% width */
}

.custom-modal .modal-content {
    min-height: 95vh; /* Set a minimum height for the modal */
}

.activities-header {
    padding-bottom: 20px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .activities-header {
        padding-bottom: 0;
    }

}