.AccordionTechnicalInfo .accordion-body {
    padding-right: 0;
    padding-left: 6px;
    padding-top: 0;
    padding-bottom: 0;
}

.AccordionWorkers .accordion-body {
    padding-right: 12px;
    padding-top: 4px;
}

.AccordionDevices .accordion-body {
    padding-right: 12px;
    padding-top: 5px;
}
.AccordionThirdPartyITs .accordion-body {
    padding-right: 12px;
    padding-top: 4px;
}
.AccordionMaintenences .accordion-body {
    padding-right: 12px;
    padding-top: 4px;
}
.AccordionTickets .accordion-body {
    padding: 4px;
    padding-bottom: 0;
}
.AccordionLocations .accordion-body {
    padding-top: 5px;
    padding-bottom: 15px;
}
