.device-search-menu {
    position: fixed;
    z-index: 999;
    background-color: #f8f9fa;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    border-bottom: 22px black;
    box-shadow: 0px 5px 5px #cbcbcb;
}

.device-search-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}

.devices-container {
    padding-top: 130px;
}

.device-details-header {
    margin-bottom: 5%;
}

/* Responsive Styles */


@media (max-width: 1400px) {

    .device-details-header {
        margin-bottom: 13%;
    }
}

@media (max-width: 1200px) {

    .device-details-header {
        margin-bottom: 15.5%;
    }
}
@media (max-width: 990px) {

    .device-details-header {
        margin-bottom: 12%;
    }
}

@media (max-width: 768px) {

    .devices-container {
        padding-top: 150px;
    }

    .device-details-header {
        margin-bottom: 5%;
    }
}


.device-search-bar {
    display: flex;
    justify-content: center;
}


.empty-placeholder {
    height: 24px;
}