.contact-search-menu {
    position: fixed;
    z-index: 999;
    background-color: #f8f9fa; /* Light gray background */
    width: 100%;
    top: 0;  /* Sticks to the top */
    padding-bottom: 15px; /* Add some space at the bottom */
    box-shadow: 0 5px 5px #cbcbcb;
    margin-top: 60px;
}
/* When a model is opened without this the contact-search-menus shifts depending on the size of the
browsers scrollbar */
.modal-open .contact-search-menu {
    overflow-y: scroll;
}

/* Centered content inside contact-search-menu */
.contact-search-menu-items {
    /*max-width: 90%; !* Default max-width for smaller screens *!*/
    margin: 0 auto; /* Center horizontally */
    position: relative;
    padding-top: 15px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    /*padding-right: calc(var(--bs-gutter-x) * .5);*/
    /*padding-left: calc(var(--bs-gutter-x) * .5);*/
}

.contact-search-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contacts-container {
    padding-top: 130px;
}

.search-menu-container {
    padding-left: 0;
}


/* Responsive Styles */
@media (min-width: 576px) {

    .contact-search-menu-items {
        max-width: 540px;
    }
}

/* Responsive Styles */
@media (max-width: 576px) {

    .col-auto-padding-left-0 {
        padding-left: 0;
    }
}

@media (min-width: 768px) {

    .contact-search-menu-items {
        max-width: 720px;
    }
}

@media (max-width: 768px) {

    .contacts-container {
        padding-top: 200px;
    }
}

@media (min-width: 768px) {

    .contacts-container {
        padding-top: 180px;
    }
}

@media (min-width: 992px) {

    .contact-search-menu-items {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .contact-search-menu-items {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .contact-search-menu-items {
        max-width: 1320px;
    }
}

.selected-worker {
    background-color: rgba(0, 0, 255, 0.1); /* Light blue background */
    transition: 0.3s;
}















