/* General Container Styles */



h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
}

.btn-success {
    background-color: #28a745;
}


.form-select {
    border-radius: 0.25rem;
}


/* Card Styles */
.all-page-card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.all-page-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.all-page-cardBody {
    padding: 1.25rem;
}

.all-page-cardTitle {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
}

.all-page-cardText {
    font-size: 1rem;
    color: #495057;
}


/* Modal Styles */
.modal-content {
    border-radius: 0.25rem;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Spinner and Alert Styles */
.spinner-border {
    color: #007bff;
}

.alert {
    border-radius: 0.25rem;
}
/* This one is in the OneClient.js */
/* Ensures the client-name bar is full width, fixed under the navbar */
.client-header-background {
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
}

.modal-open .client-header-background {
    overflow-y: scroll;
}


.client-name {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content */
    position: relative; /* Relative positioning for absolute children */
    width: 100%; /* Allow full width for centering */
}

.client-name Button {
    position: absolute; /* Allow button to sit on the left */
    left: 0; /* Adjust left positioning as needed */
}

.client-title {
    margin: 0; /* Remove default margin */
    flex-grow: 1; /* Allow title to take available space */
    text-align: center; /* Center the title text */
}



/* Responsive Styles */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;

    }

    .btn-success {
        margin-top: 1rem;
    }

    .form-select {
        margin-top: 1rem;
    }
}

.customer-page-card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.customer-page-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.maintenance-box {
    border-radius: 1rem;
    background-color: #489eff;
    text-align: center;
    height: 5vh;
    padding: 0 15px 0 15px;
    align-content: center;
}
.maintenance-date-box {
    border-radius: 1rem;
    background-color: #e3fcff;
    text-align: center;
    height: 5vh;
    align-content: center;
}

.maintenance-text {
    font-size: 16px;
    font-weight: 600;
}

