

.table-responsive {
    display: inline-block; /* Keeps the table inline, allowing scrolling */
    width: 100%;
}

table {
    min-width: 100%; /* Ensures the table takes up full width for better scrolling */
}

.fixed-top, .fixed-bottom {
    z-index: 1030;
    top: 0;
}

.fixed-bottom {
    bottom: 0;
}
