/* HistoryTable.css */
main {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}


.table {
    min-width: 1000px; /* Adjust as needed to ensure horizontal scrolling */
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-fixed thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}
