/* NewTicket.css */

.activityButtons {
    background-color: #f5f5f5;
    border: none;
    color: #333;
    box-shadow: 1px 2px 15px 3px #d5cfcf;
}
.activityButtons.active {
    background-color: #007bff; /* Darker background for active button */
}

.activityButtons:hover {
    background-color: #b8b8b8;
}

.activityButtonsSection {
    padding-bottom: 10px;
}

.custom-checkbox-container .input-group-text {
    background-color: transparent !important; /* Remove the background color */
    border: none !important; /* Remove the border */
    padding: 0; /* Optional: remove extra padding if needed */
}


/* Override Bootstrap's default modal width */
.custom-width-modal.modal.show .modal-dialog {
    min-width: 95% !important; /* Set a minimum width when the modal is shown */
    max-width: 95% !important; /* Ensure it doesn't exceed the 95% width */
}

.custom-modal .modal-content {
    min-height: 100vh; /* Set a minimum height for the modal */
}


.scrollable-activity {
    max-height: 45vh; /* Set height for the activity section */
    overflow-y: auto; /* Scroll the activity section only */
}


